html,body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}
.nav-container{
    width: 100%;
}
.nav{
    width: 1280px;
    display: flex;
}
.item-1 p{
    font-size: 27.34px;
    margin: 26.29px 0px 26.27px 7px;
    
}

.item-1{
    width: 600px;
    display: flex;
    justify-content: start;
}
.item-1 img{
    width: 56.09px;
    height: 30px;
    margin: 25px 0px 25px 60px;
    
}
.item-2{
    width: 600px;
    display: flex;
    justify-content: center;
}

.item-2 p{
    height: 14px;
    margin: 33px 24px 33px 0px;
}
.item-2 .nav_tag{
    border: 1px solid #212529;
    background-color: #fff;
    height: 30px;
    font-size: 13px;
    width: 84px;
    margin: 33px 24px 33px 0px;
    border-radius: 3px;
}
.item-2 .msg{
    width: 19px;
    height: 15px;
    margin: 32.5px 27.5px 32.5px 0px;
}
.item-2 .bell{
    width: 18px;
    height: 20px;
    margin: 30px 26px 30px 0px;
}
.item-2 .people{
    width: 22px;
    height: 22px;
    margin: 30px 26px 30px 0px;
    background-image: url(back_people.png);
}
.container{
    background-color: rgb(235, 247, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card_list_heading{
    width: 1080px;
    display: flex;
    align-self: center;
    top: 72px;
    left: 100px;
}
.card_list_heading p{
    font-size: 40px;
    font-weight: 700;
}
.card-container{
    
    width: 1080px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 32px;
    column-gap: 24px;
    margin: auto;
    
}
.card{
    height:348px;
    width: 252px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
}

.card_image img{
    height: 155px;
    width: 252px;
}
.card_description{
    height: 193px;
    width: 245px;
    padding: 20px;
}

.card_description span{
    width: 54px;
    font-size: 10px;
    padding: 10px;
    border-radius: 2px;
    background-color: #FF9D00;
}
.card_description h1{
    width: 220px;
    height: 52px;
    font-size: 20px;
}
.card_description p{
    width: 220px;
    height: 57px;
    font-size: 12px;
}
